#main-content {
  margin-left: 10px;
  min-height: 400px;
  min-width: 400px;
}

#form {
  margin: 20px;
  font-family: cursive, arial;
  font-size: 1.1em;
}

.input_box {
  font-family: arial, cursive;
  length: 40px;
}

.error{
  color: #FF0000;
  font-size: 1.05em;
}

h1, p {
  padding: 3px;
}

#usr_err_msg {
  font-family: arial, cursive;
  color: #FF0000;
  margin: 2px;
}

